PORT=3000
NODE_ENV=development

GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
MAIL_FROM=your_email@gmail.com

COMPANY_NAME=Sneaker Labs
COMPANY_EMAIL=hello@sneakerlabs.com
COMPANY_PHONE=+62 812-3456-7890
COMPANY_ADDRESS=Jakarta, Indonesia
